html, body{
  margin: 0;
  background-color: #F0ECE5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, p, button{
  font-family: 'Roboto', sans-serif;
}

h1{
  text-transform: uppercase;
  font-size: 26px;
  color: #525CEB;
}

h3{
  color: #0C356A;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container{
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: #525CEB;
  color: #fff;
  padding: 20px 30px;
  margin: 10px 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.block{
  margin-bottom: 10px;
}

.languages_count{
  background-color: #8CABFF;
  color: #fff;
  padding: 10px 100px;
}

.btn-remove{
  padding: 5px 10px;
}

.btn-delete{
  padding: 5px 50px;
}

.container_horizontal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list_item_vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1200px){
  .container_horizontal{
    flex-wrap: wrap;
    justify-content: center;
  }

  h1, h3{
    text-align: center;
  }
}

